<div class="flex text-white/60 bg-gris min-h-[400px] h-full">
  <div class="flex flex-col justify-center flex-1 gap-2 p-8 overflow-hidden">
    <div class="flex flex-col justify-between h-full gap-4">
      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold text-white">
          {{ dataOverlay.title }}
        </h2>
        <p class="flex gap-3 font-bold">
          <span class="text-green-500"
            >Rating:
            {{ dataOverlay.vote_average * 10 | number : "1.0-2" }}%</span
          >
          <span class="text-white"
            >Primera fecha de emisión: {{ dataOverlay.first_air_date }}</span
          >
        </p>
        <p class="h-48 overflow-y-auto scrollbar-hide">
          {{ dataOverlay.overview }}
        </p>
      </div>
      <div class="flex items-end gap-4">
        <button
          class="flex items-center gap-2 px-4 py-1 bg-red-500 border border-transparent rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-player-play"
            width="15"
            height="15"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="#fff"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 4v16l13 -8z" />
          </svg>
          PLAY
        </button>
        <a
          class="flex items-center gap-2 px-4 py-1 bg-transparent border border-white rounded-md hover:scale-105"
          [routerLink]="['/details', dataOverlay.id]"
          [queryParams]="{ type: dataOverlay.type }"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-plus"
            width="15"
            height="15"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
          Ver más detalles
        </a>
      </div>
    </div>
  </div>
  <div class="flex-1 w-full h-full">
    <img [src]="image" alt="" class="object-cover h-full" />
  </div>
</div>
