<div class="absolute top-0 left-0 z-50 w-full">
  <div class="flex justify-between w-11/12 py-4 mx-auto">
    <div class="flex gap-12">
      <div>
        <app-logo-netflix width="w-24"></app-logo-netflix>
      </div>
      <ul class="flex gap-4 font-semibold text-white">
        <li class="">Inicio</li>
        <li class="">Películas</li>
        <li class="">Series</li>
      </ul>
    </div>
    <div>
      <div class="relative flex">
        <input
          type="text"
          class="flex-1 w-full px-4 py-1 text-base text-white placeholder-gray-400 border bg-black/40 focus:outline-none rounded-l-md"
        />
        <span
          class="inline-flex items-center px-3 text-sm text-white rounded-r-lg shadow-sm bg-netflix/80"
        >
          Buscar
        </span>
      </div>
    </div>
  </div>
</div>
