<div class="absolute top-0 left-0 z-50 w-full">
  <div class="flex justify-between w-11/12 py-4 mx-auto">
    <div class="flex gap-12">
      <div>
        <app-logo-netflix width="w-24"></app-logo-netflix>
      </div>
      <ul class="flex gap-4 font-semibold text-white">
        <li class="">Home</li>
        <li class="">TV Shows</li>
        <!-- <li class="">Movies</li>
        <li class="">New &amp; Popular</li>
        <li class="">My List</li> -->
      </ul>
    </div>
    <div></div>
  </div>
</div>
