@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@angular/cdk/overlay-prebuilt.css";

/* override styles carousel */

.owl-stage {
  z-index: 10;
}
.owl-item:hover {
  z-index: 999;
  scale: 110%;
  transition: all 0.2s linear;
}

/* overlay */
.overlay-panel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 30px;
  max-width: 900px;
  max-height: 400px;
  border-radius: 7px;
  overflow: hidden;
  min-height: min-content;
}
.overlay-panel > * {
  width: inherit;
  height: inherit;
  /* overflow-y: scroll; */
}
.backdrop-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
